/* //PROGRAM COUNTER */
/* body{
    display: flex;
    flex-direction: column;
}

.countlabel{
    display: block;
    text-align: center;
    font-size: 10em;
    width: 100%;
}

.btncontaniner{
    text-align: center;
}

.button{
    background-color: rgb(18, 152, 197);
    color: white;
    margin: 10px;
    padding: 10px 20px;
    border: 0 solid black;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.25s;
}

.button:hover{
    background-color: rgb(25, 25, 228);
} */